﻿@{
    ViewData["Title"] = "Home Page";
}
@model List<Marker>;


<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=7eee0a4e-37d1-4e59-870e-7911807cfaea" type="text/javascript"></script>
<script src="~/js/placemark.js" type="text/javascript"></script>
<style>
    html, body, #map {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
</style>


<div id="map" style="width: 600px; height: 400px"></div>
    <div class="text-center">
        <h1 class="display-4">Map</h1>

        <form action="/home/Routing" class="col row d-flex justify-content-center">
            <input type="text" name="searchString" class="Main_form_input_contact clik"
                   placeholder=" ">

            <input class="Main_form_button clik2" type="submit" value="Поиск в Базе">
        </form>
            @{
        foreach (Marker m in Model.Where(s => s.Owner.Rating >= 100).ToList())
        {
                <div> @m.Coords @m.Description @m.Owner.NickName </div>
        }
            }
    </div>
